
{% set siteLogo = craft.assets().id('319').one() ??? null %}
{% set siteLogoMobile = craft.assets().id('320').one() ??? null %}


<header id="Header" class="fixed top-0 w-full py-8 z-50">
    <div class="container">
        <div class="flex items-center justify-between">
            {# Brand #}
            <a href="{{ siteUrl }}" class="flex items-center gap-3 Link">
                {{ svg(include('_partials/icons/logo.svg'))|attr({class: 'max-w-[325px] w-full max-sm:hidden h-auto'}) }}
                {{ svg(include('_partials/icons/icon.svg'))|attr({class: 'max-w-[75px] w-full sm:hidden h-auto'}) }}
            </a>

            {# Mobile toggle #}
            <button class="Toggle js-toggle lg:hidden" title="Toggle navigation">
                <div class="Toggle-lines">
                    <span class="Toggle-line"></span>
                    <span class="Toggle-line"></span>
                    <span class="Toggle-line"></span>
                </div>
            </button>

            {# Navigation #}
            <nav class="Header-navs">
                <div class="Header-navs--inner flex items-center gap-6">
                    <ul class="flex flex-col lg:flex-row gap-6 list-none !p-0 !m-0">
                        <li class="list-none flex items-center justify-center"><a href="{{ siteUrl('races') }}" class="rounded-md text-sm font-medium border border-primary px-4 py-2 hover:bg-primary/[.1] transition-colors Link{% if craft.app.request.segments|first == 'races' %} bg-primary text-background pointer-events-none{% endif %}">Races</a></li>
                        <li class="list-none flex items-center justify-center"><a href="{{ siteUrl('standings') }}" class="rounded-md text-sm font-medium border border-primary px-4 py-2 hover:bg-primary/[.1] transition-colors Link{% if craft.app.request.segments|first == 'standings' %} bg-primary text-background{% endif %}">Standings</a></li>
                        {# <li class="list-none flex items-center justify-center"><a href="{{ siteUrl('drivers') }}" class="rounded-md text-sm font-medium border border-primary px-4 py-2 hover:bg-primary/[.1] transition-colors Link{% if craft.app.request.segments|first == 'drivers' or craft.app.request.segments|first == 'driver' %} bg-primary text-background pointer-events-none{% endif %}">Drivers</a></li> #}
                    </ul>

                    {# Season switcher #}
                    {% if availableSites|length > 1 %}
                        <select onchange="window.location.href=this.value" class="rounded-md text-sm font-medium border px-4 py-2 bg-primary text-background transition-colors">
                            {% for site in availableSites %}
                                <option value="{{ site.baseUrl }}" {{ site.id == currentSite.id ? 'selected' }}>
                                    {{ site.name }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    {# Login button #}
                    {% if currentPlayer %}
                        <a href="{{ siteUrl('player-logout') }}" class="rounded-md text-sm font-medium border border-f1-warning text-f1-warning px-4 py-2 hover:bg-f1-warning hover:text-background transition-colors Link">Logout</a>
                    {% else %}
                        <a href="{{ siteUrl('player-login') }}" class="rounded-md text-sm font-medium border px-4 py-2 hover:bg-primary hover:text-background transition-colors Link">Login</a>
                    {% endif %}    
                </div>
            </nav>
        </div>
    </div>
</header>