
{% set siteLogo = craft.assets().id('319').one() ??? null %}
{% set siteLogoMobile = craft.assets().id('320').one() ??? null %}


<header id="Header" class="fixed top-0 w-full py-8 z-50">
    <div class="container">
        <div class="flex items-center justify-between">
            {# Brand #}
            <a href="{{ siteUrl }}" class="flex items-center gap-3 Link">
                {{ svg(include('_partials/icons/logo.svg'))|attr({class: 'max-w-[325px] w-full max-sm:hidden h-auto'}) }}
                {{ svg(include('_partials/icons/icon.svg'))|attr({class: 'max-w-[75px] w-full sm:hidden h-auto'}) }}
            </a>

            {# Mobile toggle #}
            <button class="Toggle js-toggle lg:hidden" title="Toggle navigation">
                <div class="Toggle-lines">
                    <span class="Toggle-line"></span>
                    <span class="Toggle-line"></span>
                    <span class="Toggle-line"></span>
                </div>
            </button>

            {# Navigation #}
            <nav class="Header-navs">
                <div class="Header-navs--inner lg:flex lg:items-center lg:gap-6">
                    <ul class="Header-nav-links list-none !p-0 !m-0">
                        <li class="list-none">
                            <a href="{{ siteUrl('races') }}" class="Header-nav-link Link{% if craft.app.request.segments|first == 'races' %} is-active{% endif %}">Races</a>
                        </li>
                        <li class="list-none">
                            <a href="{{ siteUrl('standings') }}" class="Header-nav-link Link{% if craft.app.request.segments|first == 'standings' %} is-active{% endif %}">Standings</a>
                        </li>
                    </ul>

                    {# Season switcher #}
                    {% if availableSites|length > 1 %}
                        <select onchange="window.location.href=this.value" class="Header-nav-select">
                            {% for site in availableSites %}
                                <option value="{{ site.baseUrl }}" {{ site.id == currentSite.id ? 'selected' }}>
                                    {{ site.name }}
                                </option>
                            {% endfor %}
                        </select>
                    {% endif %}

                    {# Login button #}
                    {% if currentPlayer %}
                        <a href="{{ siteUrl('player-logout') }}" class="Header-nav-link Header-nav-link--logout Link">Logout</a>
                    {% else %}
                        <a href="{{ siteUrl('player-login') }}" class="Header-nav-link Header-nav-link--login Link">Login</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </div>
</header>